testing/
__pycache__/
runs/
/images/
verifyBallDetection.png
gittoken.txt
.venv/
config/counter.txt
config/calibration_images/*
**/*.onnx
**/*.zip


docs/source/_autosummary/
docs/_build/doctrees/
docs/_build/html/
docs/_build/latex/*
!docs/_build/latex/*.pdf